PORT=5002
NODE_ENV=development
EMAIL_HOST=mail.technoskysolution.com
EMAIL_PORT=465
EMAIL_USER=support@technoskysolution.com
EMAIL_PASS=your_password_here
CONTACT_RECEIVER_EMAIL=support@technoskysolution.com
